.place__paragraph {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.61;
  padding-bottom: 26px;
}

.place__paragraph:last-child {
  padding-bottom: 0;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    padding-bottom: 25px;
    font-size: 16px;
    line-height: 1.63;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph {
    padding: 0 16px 25px;
    font-size: 16px;
    line-height: 1.65;
  }
  .place__paragraph:last-child {
    padding-bottom: 0;
    font-size: 16px;
    line-height: 1.63;
  }
}
